<div class="section-container">
    <h2>
      My wallet
    </h2>
  
    <div class="row-fluid cards">
    <table class="table table-inverse table-hover">
      <thead class="thead-dark">
        <tr>
          <!-- <th>ID</th> -->
          <!-- <th>#</th> -->
          <th>Name</th>
          <th>Symbol</th>
          <th>Price [$]</th>
          <th>Change24h [%]</th>
          <th>Change7d [%]</th>
          <!-- <th>Add to wallet</th>
          <th>Remoe from wallet</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let crypto of cryptos">
          <!-- <td>{{ crypto.idCrypto}}</td> -->
          <!-- <td>{{ crypto.rank }}</td> -->
          <td>{{ crypto.name }}</td>
          <td>{{ crypto.symbol }}</td>
          <td>{{ crypto.price }}</td>
          <td>{{ crypto.change24h }}</td>      
          <td>{{ crypto.change7d }}</td>    
          <!-- <td><button id="{{crypto.rank}}" type="button" class="btn btn-success" (click)="onClickAdd(crypto.rank)">Add</button></td>
          <td><button id="{{crypto.rank}}{{crypto.rank}}" type="button" class="btn btn-danger" (click)="onClickRemove(crypto.rank)" disabled>Remove</button></td> -->
        </tr>
      </tbody>
    </table>
    </div> 
    <div class="row-fluid cards w-50">
        <div class="card-deck"> 
          <div class="card mb-3 shadow card-theme">
            <div class="card-body">
                <app-pie-chart *ngIf='cryptos' [inputData]='cryptos' [limit]='8'></app-pie-chart>
            </div>
          </div>
        </div>
  </div>