h2 {
    background-color: #191F26;
    padding: 10px;
    border-radius: 10px;
}

table {
    background-color: #191F26;
    font-weight: bold;
}

td, th, thead, tr {
    color: rgba(0, 128, 128, 255);
    padding: 8px;
    text-align: center;
    vertical-align: 0;
    border-color: rgba(0, 128, 128, 255)!important;
}

th {
    color:darkgoldenrod;
}

button {
    position: relative;
    left: 10px;
}

.section-container {
    padding: 20px;
}

.mat-stroked-button {
    margin: 10px;
}

.green {
    color: green;
}

.red {
    color: red; 
}

.card-body {
    font-size: 18px
}
