<div class="section-container">
  <h2>
    Cryptocurrencies list
  </h2>
  <table class="table table-inverse table-hover">
    <thead class="thead-dark">
      <tr>
        <!-- <th>ID</th> -->
        <th>#</th>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price [$]</th>
        <th>Change24h [%]</th>
        <th>Change7d [%]</th>
        <th>Add to wallet</th>
        <th>Remove from wallet</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crypto of cryptos" (click)="chartDataOnClick(crypto.price, crypto.change24h, crypto.change7d)"> 
        <!-- <td>{{ crypto.idCrypto}}</td> -->
        <td>{{ crypto.rank }}</td>
        <td>{{ crypto.name }}</td>
        <td>{{ crypto.symbol }}</td>
        <td class="priceColumn">{{ crypto.price }}</td>
        <td>{{ crypto.change24h }}</td>
        <td>{{ crypto.change7d }}</td>
        <!-- <td><button id="{{crypto.rank}}" type="button" class="btn btn-success" (click)="onClickAdd(crypto.rank)" [disabled]="disFlag">Add</button></td>
        <td><button id="{{crypto.rank}}{{crypto.rank}}" type="button" class="btn btn-danger" (click)="onClickRemove()" [disabled]="!disFlag">Remove</button></td> -->    
        <td><button id="{{crypto.rank}}" type="button" class="btn btn-success" (click)="onClickAdd(crypto.rank)"  [disabled]="crypto.ownFlag">Add</button></td>
        <td><button id="{{crypto.rank}}{{crypto.rank}}" type="button" class="btn btn-danger" (click)="onClickRemove(crypto.rank)" [disabled]="!crypto.ownFlag">Remove</button></td>
        <!-- <td><button id="{{crypto.rank}}{{crypto.rank}}" type="button" class="btn btn-danger" (click)="onClickRemove(crypto.rank)" disabled>Remove</button></td> -->   
      </tr>
    </tbody>
  </table>
  <div class="row-fluid cards">
      <div class="card shadow card-theme card-bottom">
        <div>
          <!-- <app-line-chart></app-line-chart> -->
          <app-line-chart *ngIf='lineChartInputData' [lineChartInputData]='lineChartInputData'></app-line-chart>
        </div>
      </div>
    </div>
</div>