h2 {
    background-color: #191F26;
    padding: 10px;
    border-radius: 10px;
}

table {
    background-color: #191F26;
    font-weight: bold;
}

td, th, thead, tr {
    color: rgba(0, 128, 128, 255);
    padding: 7px;
    vertical-align: 0;
    border-color: rgba(0, 128, 128, 255)!important;
}

th {
    color:darkgoldenrod;
}

button {
    position: relative;
    left: 10px;
}

/* .card-bottom {
    height: 50vh;
  } */

.section-container {
    padding: 20px;
}

.priceColumn {
    color: green; 
}

.change24hColumn {
    color: gray; 
}

.change24hColumnGreen {
    color: green; 
}

.change7dColumn {
    color: gray; 
}